<app-nav></app-nav>


<!--Background image-->
<div style="
background: url('match_bg.jpg') no-repeat center center fixed;
width: 100%;
height: 95vh;
background-size:cover;
">
    <br /><br /><br /><br />
    <h2>{{ deck_id }}</h2>


    <div class="player-hand">
        <ul *ngFor="let c of playerCards">

            <img style="width:100px;height:100px;" src="{{c.image}}">

        </ul>
    </div>



    <div class="form-row">
        <div>
            <div class="row">
                <button class="btn btn-secondary btn-center" (click)="newDeck()">Get a new deck!</button>
                <button class="btn btn-secondary btn-center" (click)="layCards()">Lay Cards!</button>
            </div>

            <div class="form-group col-md-6">

            </div>

            <!-- Jar Jar -->
            <div>
                <img style="position: absolute; height: 200px; width:200px; left:85%; top:78%;" src="jar_jar.png">
            </div>
        </div>