<app-nav></app-nav>


<!--Background image-->
<div style="
background: url('match_bg.jpg') no-repeat center center fixed;
width: 100%;
height: 95vh;
background-size:cover;
">
<br/>
    <div class="grid">
        <ng-container *ngFor="let c of playerCards; let idx=index">

<!--
            <div class="card" (click)="cardClicked(idx)">
                <div class="face back">
                    <img src="face_down_match.png">
                </div>
                <div class="face front">
                    <img src="{{c.image}}">
                </div>
            </div>-->

            <div class="card" (click)="cardClicked(idx)" [@cardFlip]="c.state">

                <div class="face back">
                    <div *ngIf="(c.state === 'matched')">
                        <img style="background-color: #036100; opacity: 60.0; height: 130px; width: 120px;"
                            src="jar_jar.png" />
                    </div>
                    <div *ngIf="(c.state !== 'matched')">
                        <img style="opacity: 100.0; height: 130px; width: 120px;"
                            src="face_down_match.png" />
                    </div>

                </div>

                <div class="face front">
                    <div *ngIf="(c.state === 'matched')">
                        <img style="background-color: #036100; opacity: 100.0; height: 130px; width: 120px;"
                            src="jar_jar.png" />
                    </div>
                    <div *ngIf="(c.state !== 'matched')">
                        <img style="opacity: 100.0; height: 130px; width: 120px;"
                            src="{{c.image}}" />
                    </div>
                </div>

            </div>

           <!-- <div *ngIf="(c.state === 'flipped')">
                <img style="height: 130px; width: 120px;" (click)="cardClicked(idx)" class="itemImage"
                    src="{{c.image}}" />
            </div>
            <div *ngIf="(c.state !== 'flipped') && (c.image !== 'blank_space.png')">
                <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
                    <div class="tp-box__side tp-box__front"><img style="height: 130px; width: 120px;" (click)="cardClicked(idx)" class="itemImage"
                        src="face_down_match.png" />
                    </div>
                    <div class="tp-box__side tp-box__back">Back
                    </div>
                </div>
            </div>-->
            

            
                

            <!--<div *ngIf="(c.state === 'matched')">
                <img style="opacity: 0.0; height: 130px; width: 120px;" (click)="cardClicked(idx)" class="itemImage"
                    src="{{c.image}}" />
            </div>-->


        </ng-container>
    </div>

    <!--let idx=index" [data]="c" (cardClicked)="cardClicked(idx)"-->


    <div class="form-row">
        <div>
            <div class="row">
                
                <div *ngIf="(match_started == false)">
                    <button style="font-size: 25px; position: absolute; right: 41%; top: 44%;" (click)="layCards()">Start the Game!</button>
                </div>
            </div>

            <div class="form-group col-md-6">

            </div>

            <!-- Jar Jar -->
            <div>
                <img style="position: absolute; height: 200px; width:200px; left:85%; top:78%;" src="jar_jar.png">
            </div>
        </div>