* {
	color: rgb(0, 0, 0);
	font-family: "Starwars1";
	letter-spacing: 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(13, 115px);
    row-gap: 5px;
    column-gap: 10px;
    margin-left: 125px;
    margin-top: 50px;
    justify-items: center;
    align-items: center;
}



.list-group-item {
    flex: 1;
}

.hands {
    display: flex;
    flex-direction: row;
}

div.cell {
    display: table-cell;
}

.dealer-hand {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.dealer-hand-fd {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.card {
    
    
    border-radius: 5px;
    height: 130px;
    width: 120px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: visible;

        object-fit: cover;
        border-radius: inherit;
    
}

.front {
    transform: rotateY(180deg);
}






