.bg_image {
	height: 55em; 
	background-size:cover;
	width: 100%;
	background-image:url('CantinaBrawl-GaG.png');
	background-position: top center;
}

* {
    box-sizing: border-box
} 

.container {
    background-color: rgb(20, 182, 211);
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
}

.button {
    background-color: #bbb;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

#wrapper { 
	margin: 0 auto;
	width: 1000px;
}

h1 {
	color: rgb(74, 190, 236);
	font-family: "Starwars1";
	letter-spacing: 2px;
}

h2 {
	color: white;
}

h3 {
	margin: 5px 0;
	text-align: center;
}

body {
	color: white;
}

#game {
	background: transparent url('CantinaBrawl-GaG.png') no-repeat center;
	border-radius: 5px;
	color: #333;
	font: 14px/17px Helvetica, Arial, Verdana, sans-serif;
	height: 550px;
	margin: 0 auto;
	position: relative;
	width: 1000px;
}


#actions {
	margin: 15px 0 0 0;
    text-align: center;
}

input#wager { margin-left: 5px; position: relative; top: 4px }

#money, #money:before {
	border-radius: 5px;
	bottom: 0;
	height: 55px;
	padding: 7px;
	position: absolute;
	right: 0;
	width: 250px;
}

#money {
	border: 2px solid #FFC926;
}

#money:before {
	background: #333;
	content: '';
	opacity: 0.8;
}

	#cash, #bank {
		color: #FFF;
		font: 700 18px/20px Helvetica, Arial, Verdana, sans-serif;
		margin: 12px 0;
		position: relative;
		text-shadow: 1px 1px #000;
		z-index: 1;
	}
