
<div id="wrapper">
  <div id="game">
    <div id="money">
      <span id="cash">Credits: $<span></span></span>
      <div id="bank">Winnings: $<span></span></div>
    </div>
  </div>
  <div id="actions">
    <button id="deal" class="btn">Deal!</button>
    <button id="hit" class="btn" disabled>Hit</button>
    <button id="stand" class="btn" disabled>Stand</button>
    <button id="double" class="btn" disabled>Double Down</button>
    <button id="split" class="btn" disabled>Split</button>
    <button id="insurance" class="btn" disabled>Insurance</button>
    <strong>Wager:</strong> $<input id="wager" class="input-small" type="text" />
  </div>
</div>
<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
</div>