.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    color: rgb(74, 190, 236);
	font-family: "Starwars1";
	letter-spacing: 2px;
    margin-top: center;
    margin-bottom: center;
    position: absolute;
    top: 35%;
    left:50%;
    transform: translate(-50%,-50%);
  }


* {
    text-align: center;
}