<app-nav></app-nav>

<div style="
background: url('map_bg.jpg') no-repeat center center fixed;
width: 100%;
height: 93.5vh;
background-size:cover;
">

    <!--
    Planet 1: Blackjack
-->
    <a class="button" routerLink="/blackjack" >
        <img style="position: absolute; height: 200px; width:200px; left:72%; top:40%;" 
        src="planet_1.png">
        <div style=" font-size:larger; -webkit-text-stroke: 2px black; position: absolute; left:74%; bottom:45.5%; text-align: center;">Endor:<br/>Blackjack</div>
    </a>

    <!--
        Planet 2: Roulette
    -->
    <a class="button" routerLink="/roulette" >
        <img style="position: absolute; height: 200px; width:200px; left:45%; top:50%;" 
        src="planet_2.png">
        <div style=" font-size:large; -webkit-text-stroke: 2px black; position: absolute; left:47.3%; bottom:35.5%; text-align: center;">Hoth:<br/>Roulette</div>
    </a>
    
    <!--
        Planet 3: Matching
    -->
    <a class="button" routerLink="/match" >
        <img style="position: absolute; height: 200px; width:200px; left:19%; top:40%;" 
        src="planet_3.png">
        <div style=" font-size:larger; -webkit-text-stroke: 2px black; position: absolute; left:21.5%; bottom:45.5%; text-align: center;">Borg:<br/>Matching</div>
        </a>

            <!--
                Player's ship...
            -->
            <img style="position: absolute; height: 100px; width:100px; left:48%; top:20%;" 
            src="spaceship_1.png">

        </div>
