

a {
	color: rgb(236, 233, 58);
	font-family: "Starwars1";
	letter-spacing: 2px;
	-webkit-text-stroke: 2px black;
	font-size: 25px !important;
}

a:hover {
	color: red;
}

a:active {
	color: rgb(4, 0, 255);
}


.navbar-brand {
	color:aqua;
}
/*

  
  .navbar-brand:hover {
	color: red;
	background-color: transparent;
	text-decoration: none;
  }
  
  .navbar-brand:active {
	color: yellow;
	background-color: transparent;
	text-decoration: none;
  }

  .navbar-brand:active {
	color: green;
	background-color: transparent;
	text-decoration: none;
  }*/