
.list-group-item {
    flex: 1;
}

.hands {
    display: flex;
    flex-direction: row;
}

.dealer-hand {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.player-hand {
    display: flex;
    flex-direction: row;
    align-items: bottom;
}

* {
	color: rgb(0, 0, 0);
	font-family: "Starwars1";
	letter-spacing: 2px;
}
