<app-nav></app-nav>


<!--Background image-->
<div style="
background: url('cantina.png') no-repeat center center fixed;
width: 100%;
height: 94vh;
background-size:cover;
">
    <div class="container h-100  d-flex ">
        <div class="card border-0 my-auto w-100 bg-dark">
            <div class="shadow-lg">

                <div class="form-row">   
                    <div>
                        <div class="row">
                            <h2 class="card-header text-center">{{ deck_id }}</h2>
                            <button class="btn btn-secondary btn-center" (click)="newDeck()">Get a new deck!</button>
                            <h3>&nbsp;&nbsp;&nbsp; Sum: {{ pSum }}</h3>
                            <h3>&nbsp;&nbsp;&nbsp; Dealer Sum: {{ dSum }}</h3>
                            <h3>username: {{ user.username}}</h3>
                            <h3>chips: {{ user.chips}}</h3>
                        </div>

                        <div class="form-group col-md-6">
                            
                        </div>



                        <div *ngIf="playing" class="dealer-hand-fd">
                            <div class="cell">
                                <img style="width: 220px;height:260px;" src="face_down_match.png">
                            </div>
                            <div class="cell">
                                <img style="width: 80%;height:80%;" src="{{dealerCards[1].image}}">
                            </div>      
                        </div>

                        <div *ngIf="!playing" class="dealer-hand">
                            <!-- show all cards in dealer and player hands-->
                            <ul *ngFor="let c of dealerCards" class="list-group">


                                <li class="list-group-item list-group-item-danger">
                                    <img style="width:70%;height:80%;" src="{{c.image}}">

                                </li>
                            </ul>
                        </div>
                        
                        <div class="player-hand">
                            <ul *ngFor="let c of playerCards" class="list-group">


                                <li class="list-group-item list-group-item-primary">
                                    <img style="width:70%;height:80%;" src="{{c.image}}">

                                </li>
                            </ul>
                        </div>

                        <h3>&nbsp;&nbsp;&nbsp; Sum: {{ pSum }}</h3>
                        
                        <div *ngIf="blackjack" class="game-result">
                            <h1>Blackjack!!! Play again?</h1>
                            <button class="btn btn-secondary btn-center" (click)="[newHands()]">Draw new hands!</button>
                        </div>

                        <div *ngIf="!inProgress && win > 0" class="game-result">
                            <h1>You Won! Play again?</h1>
                            <button class="btn btn-secondary btn-center" (click)="[newHands()]">Draw new hands!</button>
                        </div>

                        <div *ngIf="!inProgress && win == -1" class="game-result">
                            <h1>You Lost! Play again?</h1>
                            <button class="btn btn-secondary btn-center" (click)="[newHands()]">Draw new hands!</button>
                        </div>

                        <div *ngIf="!inProgress && win == 0" class="game-result">
                            <h1>Push (Tie). Play again?</h1>
                            <button class="btn btn-secondary btn-center" (click)="[newHands()]">Draw new hands!</button>
                        </div>

                        <div *ngIf="inProgress" class="form-group col-md-6">
                            <button class="btn btn-secondary btn-center" (click)="[newHands()]">Draw new hands!</button>
                            <button class="btn btn-secondary btn-center"
                                (click)="[hit(), busted(), dealerLogic()]">Hit</button>
                            <button class="btn btn-secondary btn-center" (click)="[stand()]">Stand</button>
                            <button class="btn btn-secondary btn-center" (click)="[deposit()]">deposit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jar Jar -->
    <div>
        <img style="position: absolute; height: 200px; width:200px; left:85%; top:78%;" src="jar_jar.png">
    </div>