/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Starwars1";
    src: local("Starwars1"), url(./assets/fonts/Starjedi.ttf) format("truetype");
}
@font-face {
    font-family: "Starwars2";
    src: local("Starwars2"), url(./assets/fonts/Starjhol.ttf) format("truetype");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
