<app-nav></app-nav>


<div>
    <div class="computer-card-slot card-slot">
        <img style="width: 220px;height:260px;" src="{{dCurrentCard}">
        <div class="computer-deck deck">{{dealer_remaining}}</div>
    </div>
    
    
    <div class="text">{{innerText}}</div>

    <div class="player-card-slot card-slot">
        <img style="width: 220px;height:260px;" src="{{pCurrentCard}}">
    </div>

    <div class="player-deck deck">{{player_remaining}}</div>

    <button (click)="startGame()" class="btn btn-secondary">Start Game</button>
    <button (click)="newHands()" class="btn btn-secondary">New Hands</button>
    <button (click)="drawCards()" class="btn btn-secondary">Draw Card</button>

</div>