*, *::after, *::before {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 7rem);
	grid-template-rows: 12rem 5rem 12rem 5rem;
	gap: .5rem;
	justify-content: center;
	padding-top: 1rem;
}

.deck {
	height: 100%;
	width: 100%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	border-radius: .5rem;
	color: white;
	user-select: none;
}

.computer-deck {
	margin-right: 3.5px;
}

.computer-deck {
	background-color: salmon;
}

.player-deck {
	background-color: blue;
}

.betText {
	color: white;
	text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.text {
	grid-column: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.card {
	position: relative;
	height: 100%;
	width: 100%;
	border: 1px solid black;
	border-radius: .5rem;
}

.card img {
	width: 110%;
	height: auto;
	background-size: 100% 100%;
}
@supports(object-fit: fill) {
	.card img {
		height: 100%;
		object-fit: fill;
		object-position: center center;
	}
}

.button {
	grid-column: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
